/* /Shared/MainLayout.razor.rz.scp.css */
#country[b-bhnme5hauw]{
    position: fixed;
    border-bottom: 1px solid rgba(118, 120, 120, 0.58);
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    width: 12%;
    transition: 0.2s ease-in-out;
}
#country:focus[b-bhnme5hauw]{
    border-bottom: 3px solid black;

}
#home-search[b-bhnme5hauw]{

    border-bottom: 1px solid rgba(118, 120, 120, 0.58);
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    width: 33rem;
    font-size: 4rem;

    transition: 0.2s ease-in-out;
}
#home-search[b-bhnme5hauw]::placeholder{
    color: rgba(0, 0, 0, 0.149);

}
#home-search:focus[b-bhnme5hauw]{
    border-bottom: 3px solid black;

}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-eacxgy1yx0] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-eacxgy1yx0] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-eacxgy1yx0] {
    font-size: 1.1rem;
}

.oi[b-eacxgy1yx0] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-eacxgy1yx0] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-eacxgy1yx0] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-eacxgy1yx0] {
        padding-bottom: 1rem;
    }

    .nav-item[b-eacxgy1yx0]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-eacxgy1yx0]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-eacxgy1yx0]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-eacxgy1yx0] {
        display: none;
    }

    .collapse[b-eacxgy1yx0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

